plots/
t_plot.py
old/
.ipynb_checkpoints/
.spyproject/
__pycache__/
data/
gradient_plots.py
make_pauli_file.py
merge_data.py
pauli_groups.pickle
capacity_simulations.py
effective_h_dim.py
capacity_simulations.py
effective_h_dim.py
eval_dict.pickle
eval_dict_extended.pickle
expr_ent_tests.py
from_scratch.py
grad_dict.pickle
grad_dict_extended.pickle
haar_eom.npy
haar_eom_std.npy
haar_vs_n.py
hello_world.py
log_fitting.py
magic_plots.py
new_tests.py
perturb.py
plot.py
qfi_dict.pickle
qfi_dict_extended.pickle
qfim_evals.py
renyi_fast.py
reyni_v_gkp.py
test_XXZ.py
train_magic/
training_tests.py
previous_project_code/*
images/*

